body {
    margin: 0;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: #FFFBEB;
}

.notfooter {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #263159;
    width: 45vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: black solid 2px;
    border-radius: 25px;
}

.screen {
    flex-basis: 25%;
    height: 8vh;
    width: 40vh;
    margin: 4vh;
    margin-bottom: 10px;
    background-color: #EBEFFF;
    color: black;
    font-size: 40px;
    border: black solid 2px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screenContent {
    width: 34vh;
    height: 8vh;
    text-align: right;
}

.buttons {
    flex-basis: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 4vh;
    grid-gap: 5px;
}

#clear {
    grid-column: 1 / 3;
    width: 20vh;
    background-color: rgb(158, 24, 24);
}

#delete {
    grid-column: 3 / 5;
    width: 20vh;
    background-color: rgb(212, 212, 0);
}

button {
    width: 10vh;
    height: auto;
    font-size: 28px;
    border-radius: 50px;
    border: black solid 2px;
    background-color: #4459A1;
}
button:active{
    background-color: #35457D;
}

/*FOOTER*/
.footer{
    width:100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #263159;
}

.fText {
    color: #FFFBEB;
    text-decoration: none;
    font-size: 18px;
}